<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        body {
            background:#f3f3f3;
        }
        div {
            background:#E2E2E2;
            width:750px;
            margin:0 auto;
            margin-top:50px;
            padding:20px;
        }
        h1 {
            margin-bottom:20px;
            text-align: center;
        }
        p {
            text-align: center;
        }
        form {
            width:500px;
            margin: 0 auto;
            text-align: center;
        }
        b {
            background: #F5D5D5;
        }
    </style>
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
        <p>{{ instructions }} The microservice also accepts only <b>.txt</b> files</p>
        <hr>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="filetoget">
            <input type="submit" value="Get size" name="submit">
        </form>
    </div>
</body>
</html>